/* Layout
================================ */

.contain-to-grid {
  width: 100%;
  height: 110px;
  background: #333333;
  border-bottom: 3px solid #00BFFF;
  }
  
.top-bar-section ul li.active > a {
    background: #6CF;
    color: white; }

#H-wrapper{
	height: 793px;
	}

#out-wrapper{
	border: none;
	}
#wrapper{padding-left:-16px; padding-top: 6px;}

#out-wrapper, #wrapper{
	border:none;
	margin-top: -10px;
	height:100px;
	background:#00698C;
	-moz-animation:header 1s; /*Firefox*/
	-webkit-animation:header 1s; /* Chrome, Safari, Opera */
	animation:header 1s;
}
@-moz-keyframes header
{
from {height:3px; background:#00BFFF;}
to {height:100px; background:#00698C}
} 
/* Chrome, Safari, Opera */
@-webkit-keyframes header
{
from {height:3px; background:#00BFFF;}
to {height:100px; background:#00698C}
}	
	
#footer1{
	border-top: 3px solid #00A3D9;
	height: 210px;
	background-color: #333;
	}
#footer2{
	text-align: center;
	border-top: 1px solid #00A3D9;
	height: 86px;
	background-color: #333;
	}

.top-bar-section [role="separator"] {
    border-bottom: solid 1px #2b2b2b;
    border-top: solid 1px black;
    clear: both;
    height: 1px;
    width: 100%; }
	
.top-bar-section ul li > a {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
    display: block;
    width: 100%;
    color: red;
    padding: 12px 0 12px 0;
    padding-left: 15px;
    font-size: 0.8125em;
    font-weight: lighter;
    background: black; }
	
.top-bar-section ul li > a.button {
      background: #2ba6cb;
      font-size: 0.8125em;
      padding-right: 15px;
      padding-left: 15px; }
	  
.top-bar.expanded .title-area {
      background: #333333; }
	  
.top-bar {
    background: #333333;
    *zoom: 1;
    overflow: visible; }
	
.top-bar-section li a:not(.button) {
	  font-family: Arial, Impact, Charcoal, sans-serif;
	  font-weight: lighter;
      padding: 0 15px;
      line-height: 45px;
      background: #333333;
	  color: #80D3FF;
	  font-size: 16px;
	  }
	  
.top-bar-section{
	margin-top: 36px;
	}

p{
	color: white;
	padding-left: 30px;
	padding-right: 30px
	font-family: Arial, Impact, Charcoal, sans-serif;
	font-weight: lighter;
}

.contact{
	padding-top: 15px;
	color: white;
	}
.connect{
	padding-left: 80px;
	padding-top: 15px;
	color: white;}
.qlinks{
	text-align: left;
	padding-top: 15px;
	color: white;}
	
h1{color:white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 40px;
	letter-spacing:2px;
	-moz-animation:title 1.1s; /*Firefox*/
	-webkit-animation:title 1.1s; /* Chrome, Safari, Opera */
	animation:title 1.1s;
}
@-moz-keyframes title
{
0%   {color: rgba(255, 255, 255, 0.0);}
70%  {color: rgba(255, 255, 255, 0.0);}
90%  {color: rgba(255, 255, 255, 0.5);}
100% {color: white;}
} 
/* Chrome, Safari, Opera */
@-webkit-keyframes title
{
0%   {color: rgba(255, 255, 255, 0.0);}
70%  {color: rgba(255, 255, 255, 0.0);}
90%  {color: rgba(255, 255, 255, 0.5);}
100% {color: white;}
}	
h4{color: #00A3D9;
	font-family: Arial, Impact, Charcoal, sans-serif;
	font-weight: lighter;}

.iconspace{
	margin-right: 34px;
	}
	
a:visited.whitelink, a:link.whitelink{color: white;}
a{-webkit-transition: all .5s ease-out;
@-moz-keyframes: all 5s ease-ou:;}

.logo{
	margin-top: 18px;
}

.orbit-container {
	text-align: center;
	padding: 30px 20px 0;
	margin-bottom: 40px;
}
.orbit-slides-container div {
	background: whitesmoke;
}
.button-group,
.orbit-bullets {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

a:link {color:#80D3FF;}      /* unvisited link */
a:visited {color:#80D3FF;}  /* visited link */
a:hover {color:white;}  /* mouse over link */
a:active {color:white;}  /* selected link */ 

/* Media Queries
================================ */

@media (max-width: 768px) {
	.orbit-prev,
	.orbit-next {
		display: none;
	}
}


